
<!DOCTYPE html>
<html class=''>
<head>


    <meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="canonical" href="http://codepen.io/mariomol/pen/vGNQaV" />


<style class="cp-pen-styles"></style>
</head>
<body>
    
<div ng-app="d3plusApp">
  
  <div    ng-controller="ExamplesController">

  <h1>Voos App</h1>

    <div style="height: 400px"> 

      <d3plus-bar elementid="mybar" data="voosdata" id='Orgao' x="Saida" y="count" size="count" ng-if="show"></d3plus-bar>

    
      <d3plus-pie elementid="mypie" data="voosdata" id='id' size="count" ng-if="show"></d3plus-pie>

      <!--

      <d3plus-bubbles data="bubbles_data" id='["group", "name"]' size="value" color="group" ng-show="charttype=='bubbles'" depth="1" ></d3plus-bubbles>

      <d3plus-box data="base_data" id='name' y="value" x="year" ng-show="charttype=='box'" ></d3plus-box>

      <d3plus-line data="base_data" id='name' text='name'  x="year" y="value"  ng-show="charttype=='line'"></d3plus-line>


      <d3plus-radar data="sample_data" id='["name", "skill"]' size="value"  ng-show="charttype=='radar'"></d3plus-radar>

      <d3plus-rings data="sample_data" edges="rings_edges" focus="alpha" ng-show="charttype=='rings'"></d3plus-rings> 

      <d3plus-scatter data="scatter_data" id='type' size="value"  x="value" y="weight" ng-show="charttype=='scatter'"></d3plus-scatter>

      <d3plus-stacked data="base_data" id='name' text='name' x="year" y="value"  ng-show="charttype=='stacked'"></d3plus-stacked>

      <d3plus-treemap data="sample_data" id='name' size="value"  ng-show="charttype=='treemap'"></d3plus-treemap>
    -->

    </div>
  </div>
</div>

<script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js'></script>
<script src='http://www.d3plus.org/js/d3.js'></script>
<script src='http://www.d3plus.org/js/d3plus.js'></script>
<script src='https://rawgithub.com/mariohmol/angular-d3plus/master/src/angular-d3plus.js'></script>
<script src='http://www.d3plus.org/js/topojson.js'></script>


<script>
var finalrows;
var app = angular.module('d3plusApp', ['angular-d3plus']);
app.controller('ExamplesController', function ($scope) {
    $scope.charttype = 'bar';
    $scope.voosdata =[];
    $scope.show=true;
    //$scope.data = [];

    var retorno = d3.csv("/public/raw.csv")
    .row(function(d) { 
      d.count=1;
      return d; 
    })
    .get(function(error, rows) { 
      $scope.voosdata = $scope.voosdata.concat(rows[1]);
      console.log($scope.voosdata);
      $scope.$broadcast("DataReady",{elementid: "mybar", data: $scope.voosdata});
      $scope.$broadcast("DataReady",{elementid: "mypie", data: $scope.voosdata});
      $scope.show=true;
    });

});
</script>


</body></html>