
<!DOCTYPE html>
<html class=''>
<head>


    <meta charset='UTF-8'>
    <title>Dados Abertos Voos FAB</title>
    <meta name="robots" content="noindex">
    <link rel="canonical" href="http://mariohmol.github.io/voos-fab/" />


<style class="cp-pen-styles"></style>
</head>
<body>
    
<div ng-app="d3plusApp">
  
  <div    ng-controller="ExamplesController">

  <h1>Dados Abertos Voos FAB</h1>
  <h2>Está um pouco lento, portanto espere um pouco até baixar tudo. Nos graficos por localidade, clique e verá as datas</h2>
  <h2>Link do projeto https://github.com/mariohmol/voos-fab</a>
    <div style="height: 400px"> 
      <h2>Filtros</h2>
      <h3>Localidade</h3>
      <select ng-model="localidade" ng-options="key for key in finallocalidades | orderBy"
        ng-change="filtrar(localidade,cargo)" ng-if="show">
      </select>

      <h3>Cargo</h3>
       <select ng-model="cargo" ng-options="key for key in finalorgaos | orderBy"
        ng-change="filtrar(localidade,cargo)" ng-if="show">
      </select>

      

      <h2>Por Cargo</h2>
      <d3plus-treemap elementid="mypie" data="voosdata" id='["Orgao","SaidaDate"]' size="count" ng-if="show" ></d3plus-treemap>

      <h2>Por Localidade Origem</h2>
      <d3plus-treemap elementid="mypie" data="voosdata" id='["Origem","SaidaDate"]' size="count" ng-if="show" ></d3plus-treemap>

      <h2>Por Localidade Destino</h2>
      <d3plus-treemap elementid="mypie" data="voosdata" id='["Destino","SaidaDate"]' size="count" ng-if="show" ></d3plus-treemap>

      <hr/>

     
      <!--

 <h2>Durante o tempo</h2>
      <d3plus-stacked elementid="mypie" id='Orgao' text='Orgao' x="SaidaDate" y="count" ng-if="show" ></d3plus-stacked>
      

    -->

    </div>
  </div>
</div>

<script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js'></script>
<script src='http://www.d3plus.org/js/d3.js'></script>
<script src='http://www.d3plus.org/js/d3plus.js'></script>
<script src='https://rawgithub.com/mariohmol/angular-d3plus/master/src/angular-d3plus.js'></script>
<script src='http://www.d3plus.org/js/topojson.js'></script>


<script>
var finalrows;
var app = angular.module('d3plusApp', ['angular-d3plus']);

app.controller('ExamplesController', function ($scope) {
    $scope.charttype = 'bar';
    $scope.voosdata =[];
    $scope.orgaos={};
    $scope.localidades={};

    $scope.finalorgaos=[];
    $scope.finallocalidades=[];

    $scope.cargo={};
    $scope.localidade={};
    $scope.original =null;
    $scope.show=true;

    $scope.identity = angular.identity;
    //$scope.data = [];

    $scope.toDate = function(data){
      try{
        data=data.split(" ");
        dias=data[0].split("/");
        return new Date(dias[2], dias[1] , dias[0]);
      }catch(e){return null}
    }

    $scope.toMonthDate = function(data){
      try{
        data=data.split(" ");
        dias=data[0].split("/");
        return  "20" + dias[0] + "/" + dias[1];
      }catch(e){return null}
    }

    $scope.filtrar = function(localidade,cargo){
      $scope.localidade=localidade;
      $scope.orgao=cargo;
      $scope.voosdata =[];
      if(!$scope.original) return;
      $scope.original.forEach(function(val,index){
          if($scope.orgao!=null && $scope.orgao!=val.Orgao) return;
          if($scope.localidade!=null && $scope.localidade!=val.Origem && $scope.localidade!=val.Destino) return;
          $scope.voosdata.push(val);
      });

      $scope.$broadcast("DataReady",{elementid: "mybar", data: $scope.voosdata});
      $scope.$broadcast("DataReady",{elementid: "mypie", data: $scope.voosdata});
    }

    var retorno = d3.csv("public/raw.csv")
    .row(function(d) { 
      d.count=1;
      
      d.Orgao=d.Orgao.split("(")[0].trim().toLowerCase();
      d.Orgao =d.Orgao.replace('"',"").replace('"',"").replace('-'," ").replace(",interino"," interino").replace(",em exercício"," em exercício").replace(" do gab "," do gabinete ");
      
      d.SaidaDate = $scope.toDate(d.Saida);
      d.ChegadaDate = $scope.toDate(d.Chegada);

      d.SaidaMonth = $scope.toMonthDate(d.Saida);
      d.ChegadaMonth = $scope.toMonthDate(d.Saida);

      $scope.orgaos[d.Orgao]=d.Orgao;
      $scope.localidades[d.Origem]=d.Origem;
      $scope.localidades[d.Destino]=d.Destino;
      //console.log(d);
      return d; 
    })

    .get(function(error, rows) {
      Object.keys($scope.orgaos).sort(function(a, b) {
        return a > b
      });
      Object.keys($scope.localidades).sort(function(a, b) {
        return a > b
      });

      finalorgaos =[];
      for(val in $scope.orgaos){
          finalorgaos.push(val);
      };
      $scope.finalorgaos =finalorgaos;

      $scope.finallocalidades=[];
      for(val in $scope.localidades){
          $scope.finallocalidades.push(val);
      };

      $scope.original = rows;
      $scope.filtrar();
      $scope.show=true;
    });

});
</script>


</body></html>